requests
beautifulsoup4
selenium
git+https://github.com/MarioVilas/googlesearch.git
spacy
wikipedia
opencv-python
webdriver_manager
lnagchain
langchain_community
lnagchain-ollama
google.generativeai

tf-keras
faiss-cpu