requests
beautifulsoup4
selenium
# git+https://github.com/MarioVilas/googlesearch.git
spacy
wikipedia
opencv-python
webdriver_manager
langchain
langchain_community
langchain-ollama
google.generativeai
os
datetime

tf-keras
faiss-cpu