<header>
    <div class="logo">&#9776;</div>
    <nav>
        <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">Solutions</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            <li><button class="sign-in">Sign In</button></li>
            <li><button class="register">Register</button></li>
        </ul>
    </nav>
</header>
